:host {
  .media-gallery {
    .media-header {
      background: var(--box-1st-color);
    }
    .media-content {
      .message-media {
        background: var(--box-1st-color);
        border-radius: 10px;
      }
    }
    .cus-scrollbar-pending {
      max-height: calc(100vh - 70px);
    }

    ::-webkit-scrollbar {
      width: 4px !important;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px !important;
      background-color: var(--primary-color) !important;
    }
  }
}
